.navbar{
  background-color: #CDCDCD;
}

.textnavbrand{
  font-family:  'Rouge Script', cursive; 
}
.textnav {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: white;
}

.margin{
  padding-top: 100px;
}

.karenimg{
  border: 2px solid #CDCDCD;
}